<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="as.leap.helpcenter">

    <application
        android:allowBackup="true">

        <!-- LeapCloud help center activities start-->
        <activity
            android:name="as.leap.LCFaqListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_faq"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCQuestionListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_allQuestions"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCQuestionDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_question"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCQuestionQueryResultActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_allQuestions"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_conversation"
            android:theme="@style/LCHelpCenter.Theme"
            android:windowSoftInputMode="adjustUnspecified">
        </activity>
        <activity
            android:name="as.leap.LCAlbumActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_album"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCDrawingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_drawing"
            android:screenOrientation="portrait"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCFaqDialogActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lc_hc_question"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <activity
            android:name="as.leap.LCImageDialogActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LCHelpCenter.Theme">
        </activity>
        <!-- LeapCloud help center activities end-->

    </application>

</manifest>
